.white {
  color: #fff !important;
}

.grey {
  color: #8f8f8f !important;
}

.ui.secondary.pointing.menu {
  border-bottom: 2px solid #8f8f8f73 !important;
}
.ui.secondary.pointing.menu .active.item {
  border-color: #bbbbbb !important;
  color: #a73232 !important;
}

.ui.secondary.pointing.menu .item {
  padding-bottom: 30px !important;
}
